@import url("https://fonts.googleapis.com/css2?family=Lato&family=Prompt&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f0f0;
  font-family: "Prompt", sans-serif;
}
.text-tiny {
  font-size: 8px;
}
.openmodal_viewelement {
  transition: 0.3s;
  background: rgba(255, 255, 255, 0);
}

.openmodal_viewelement:hover {
  transition: 0.3s;
  cursor: pointer;
  background: rgba(255, 255, 255, 100);
  transform: scale(1.3);
}

.elem_green {
  background-color: #a2ffa1;
}

.elem_blue {
  background-color: #c0ffff;
}

.elem_pink {
  background-color: #ff9d9d;
}

.elem_orange {
  background-color: #ffdead;
}

.elem_litepink {
  background-color: #ffc0c0;
}

.elem_darkgreen {
  background-color: #cccc99;
}

.elem_grey {
  background-color: #cccccc;
}

.elem_yellow {
  background-color: #ffff99;
}

.elem_purple {
  background-color: #ffbfff;
}

.elem_darkpink {
  background-color: #ff99cc;
}
